a:visited {
    color: #ba1f26;
}

a {
    color: #ba1f26;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #ba1f26;
    text-decoration: underline;
    cursor: pointer;
}
a {
    background: transparent;
}

.top-navbar {
  height: 70px;
  background-color: #ba1f26;
  background-image: url("http://uploads.webflow.com/5b1405b911a9de1ba23591a1/5b1429de93e3455ffea1fbf4_bg-repeat-2.png");
  background-position: 0px 0px;
  background-size: 280px;
  font-family: 'Circularstd book', sans-serif;
  font-weight: 700;
  padding-top: 50px;
}

.top-container {
  width: 100%;
  max-width: 1110px;
  margin: auto;
}
 
.top-nav-link {
  font-family: 'Circularstd book', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 20px 0px 20px;
  border-bottom: 3px;
  border-bottom-color: transparent;
  text-decoration: none;
  border-bottom-style: solid;
}

.title-nav {
    margin: 0px;
}

.top-nav-link:visited {
    color: #ffffff;
}

.top-nav-link:hover {
  border-bottom: 3px #ffffff;
  border-bottom-color: #ffffff;
  text-decoration: none;
  border-bottom-style: solid;
  color: #ffffff;
}

.top-navbar-menu {
  width: 65%;
  float: right;
  text-align: right;
}

.top-brand-area {
  width: 35%;
  float: left;
}

.top-brand-link {
    margin: 0px 10px 0px 10px;
}

@font-face {
  font-family: 'Circularstd book';
  src: url('https://uploads-ssl.webflow.com/5b1405b911a9de1ba23591a1/5b1421c97f519f011ef0ef6b_CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
